<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.kr.masimaro">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 카메라 권한 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".shopreg.ShopReg1"></activity>
        <activity android:name=".onrreg.OnrRegWaiting" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".onrreg.OnrRegShopActivity3" />
        <activity android:name=".onrreg.OnrRegShopActivity2" />
        <activity android:name=".onrreg.OnrRegShopActivity1" />
        <activity android:name=".onrreg.OnrRegIdPwActivity" />
        <activity android:name=".onrreg.OnrRegActivity" />
        <activity android:name=".ImagePickerHolder" />
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".usrreg.UserRegActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="53243b8d48e79fcf14a3438ed51ac849" />
    </application>

</manifest>